﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Kalinga Management System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("GetLeadsDetails", "GetLeadsDetails", "CampusMinds")</li>
                    <li>@Html.ActionLink("GetCampusMinds", "GetCampusMinds", "CampusMinds")</li>
                    <li>@Html.ActionLink("DisplayLeadDetails", "DisplayLeadDetails", "CampusMinds")</li>
                    <li>@Html.ActionLink("DisplayCampusMinds", "DisplayCampusMinds", "CampusMinds")</li>
                    <li>@Html.ActionLink("UpdateMindDetails", "UpdateMindDetails", "CampusMinds")</li>
                    <li>@Html.ActionLink("UpdateLeads", "UpdateLeads", "CampusMinds")</li>
                    <li>@Styles.Render("~/Content/css")</li>
                    <li>
                        @Scripts.Render("~/bundles/modernizr");
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
